<div class="wrapper">
  
      <div class="container">
      <div class="filter">
              <div class="input-group">
                      <div class="input-group-btn search-panel">
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Price</a></li>
                            <li><a href="#its_equal">Location</a></li>
                            <li><a href="#greather_than">Number Of Rooms</a></li>
                          </ul>
                      </div>      
      </div>
      
      
      </div>
      		<div *ngIf="searchResults">
      <div *ngFor="let property of searchResults">					
      <section class="col-xs-12 col-sm-12 col-md-12">
      <article class="card row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <a href="#" title="Lorem ipsum" class="img-responsive"><img [src]="property.pictureUrl" width="350px" height="200px" /></a>
        </div>
       
        <div class="col-xs-12 col-sm-12 col-md-7 pull-right">
            <span class="label label-success pull-right">{{property.rent}}/Month</span>
          <h3><a href="#" title="">{{property.title}}</a></h3>
          
          <p>{{property.description}}</p>
          <div class="col-md-12">
              <a href="#" title="Lorem ipsum"><i class="fa fa-bed"></i> {{property.numberOfRooms}}</a>
          </div>
          <div class="col-md-12">
              <a href="#" title="Lorem ipsum"><i class="fa fa-map-marker"></i> {{property.location}}</a>
          </div>	
          
                  <div class="col-xs-12 col-sm-12 col-md-4">
                      <button class="btn btn-info">Learn More</button>
                  </div>
                  
        </div>
       
       
        <span class="clearfix borda">
          
        </span>
      </article>

    </section>
    </div>
  </div>
  </div>
</div>