<div class="signup-page">
	<nav class="navbar" [ngClass]="{'navbar-transparent':true}">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/">Saka Keja</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					<li>
    					<a routerLink="/listings/rent">
    						For Rent
    					</a>
    				</li>
    				<li>
						<a href="#">
							For Sale
						</a>
            </li>
            <li>
                <a href="#" target="_blank">
                  Upload
                </a>
                </li>
		            <li>
		                <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>
    <router-outlet></router-outlet>
    <footer class="footer">
        <div class="separator-line"></div>
		        <div class="container">
		            <nav class="text-center">
						<ul>
							
							<li>
								<a href="#" class="footer-link">
								   About Us
								</a>
							</li>
							<li>
								<a href="#" class="footer-link">
								   Blog
								</a>
							</li>
							<li>
								<a href="#" class="footer-link">
								contact
								</a>
							</li>
						</ul>
		            </nav>
		            <div class="copyright text-center" >
		                &copy; 2017, Saka Keja.
		            </div>
		        </div>
		    </footer>
</div>